{
  "plugins": [
    "react",
    "sort-imports-es6-autofix"
  ],
  "extends": [
    "gatsby-standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}