{
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "gatsby-standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "camelcase": "off",
    "react/destructuring-assignment": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}