@import '../../styles/common';

.footer-area {
  background: #04091e;
  padding: 5px 0 5px 0;
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    padding: 5px;

    a {
      color: $text-color;
      @include transition();

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.footer-menu {
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}
